button {
  background-color: #3582e0;
  border: 2px solid;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px;
  width: 100%;
}
.inputText {
  width: 250px;
  height: 30px;
}
.radioButtons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.type-of-contacts {
  border-radius: 5px;
  border: solid gray thin;
  margin: 15px 0 5px 0;
  padding: 5px;
}

.ring {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  padding: 10px;
  border: 7px dashed #4b9cdb;
  border-radius: 100%;
}

.load .ring {
  animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes loadingD {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
